<div class="menu-bar">
  <h1>Transformación</h1>
  <div class="submenu-bar1">
    <button class="image-button" (click)="applyEffect('BRUJO')">
      <img src="https://springstorage.blob.core.windows.net/images/Brujo.webp" alt="Brujo">
      <span class="hover-text">Brujo - Lanzador de hechizos masculino</span>
    </button>
    <button class="image-button" (click)="applyEffect('MOMIA')">
      <img src="https://springstorage.blob.core.windows.net/images/Momia.webp" alt="Momia">
      <span class="hover-text">Momia - No muerto antiguo</span>
    </button>
    <button class="image-button" (click)="applyEffect('VAMPIRO')">
      <img src="https://springstorage.blob.core.windows.net/images/Vampiro.webp" alt="Vampiro">
      <span class="hover-text">Vampiro - Ser sediento de sangre</span>
    </button>
    <button class="image-button" (click)="applyEffect('ZOMBIE')">
      <img src="https://springstorage.blob.core.windows.net/images/Zombie.webp" alt="Zombie">
      <span class="hover-text">Zombie - Caminante no muerto</span>
    </button>
  </div>

</div>