<div class="content-header"></div>
<div class="text-wrapper">
    <h1>METAMORFOSIS</h1>
    <h3>de Ultratumba</h3>
</div>
<div class="content-secundary">
    <div class="box box1">
        <p>¡Experimenta la transformación de tu vivido reflejo!</p>
    </div>
    <div class="container">
        <a routerLink="/upload" routerLinkActive="activebutton" aria-current="page">Comenzar</a>
    </div>

</div>
<div class="content-container">
    <div class="content-block block1">
        <div class="image-side">
            <img src="https://springstorage.blob.core.windows.net/images/imageboo.webp" alt="boo">
        </div>
        <div class="text-side">
            <p>Si estas cansado de usar <br>
                la sabana de tu cama<br>
                para tomarte una selfie, <br>
                estás en el lugar correcto</p>
        </div>
    </div>
    <div class="full-width-block">
        <h2>Tienes que <br>
            <span style="--i:0;" data-text="Subir.">Subir.</span> 
            <span style="--i:5;" data-text="Editar.">Editar.</span>  
            <span style="--i:10;" data-text="Descargar.">Descargar.</span>  
        </h2>
        <app-carrusel></app-carrusel>
    </div>
</div>

<app-banner1></app-banner1>
<app-banner2></app-banner2>